
body{
	font-family: 'Mukta', sans-serif;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	background: #F3F5FC;
}

.cabecalho{
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}


.titulo-principal{
	margin: 25px 25px 25px 25px;
	padding: 25px 25px 25px 25px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.parte-esquerda{
	display: inline-block;
	margin: 15px 10px 10px 10px;
	padding: 15px 10px 10px 10px;
}


.box-cod-decod{
	font-size: 26px;
	width: 736px;
	height: 481px;
	top: z68px;
	left: 140px;
	border: none;
	background: #F3F5FC;
	resize: none;
}


.box-info{
	opacity: 50%;
	left: 24px;
	font-size: 12px;
	
}

.buttons{
	text-align: center;
	display: flex;
}


.parte-direita{
	display: inline-block;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background: #FFFFFF;
	border-radius: 24px;
}


.main{
	display: inline-block;
	margin: 0px 5px 10px 0px;
}

.box-resultado{
	width: 400px;

	
	margin: 10px 5px 5px 10px;
	padding: 10px 5px 5px 10px;
	font-size: 24px;
	border-radius: 32px;
	height: 481px;
	top: 72px;
	border: none;
	resize: none;

}

.box-resultado:focus{
	outline: 0;
}

#boxResult{
	width: 400px;
	margin: 65px 15px 0px 0px;
	padding: 65px 15px 0px 0px;
}

.saida-texto{
	
	margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;

}

div h2{
	font-family: 'Mukta', sans-serif;
	font-style: bold;
	font-size: 24px;
	line-height: 29px;
	line-height: 120%;
	vertical-align: top;
	text-align: center;

}

.pInfo{
	margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.box-info{
	margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    text-align: left;
}

button {
	transition: 1s all;
	cursor: pointer;
}

.button-cod:hover{
	background: #497CE0;
	transform: scale(1.1);
}
.button-decod:hover{
	background: #29467E;
	transform: scale(1.1);
	color: #FFFFFF;
}

.copiar:hover{
	background: #497CE0;
	transform: scale(1.1);
	color: #FFFFFF;
}

.button-cod{
	margin: 0px 10px;

	font-family: 'Mukta', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 19px;
	line-height: 100%;
	vertical-align: top;
	width: 328px;
	height: hug(67px);
	border-radius: 24px;
	padding: 24px;
	gap: 8px;
	color: #FFFFFF;
	background: #0A3871;
}

.button-decod{
	margin: 0px 0px 0px 10px;

	font-family: 'Mukta', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 19px;
	line-height: 100%;
	vertical-align: top;
	width: 328px;
	height: hug(67px);
	border-radius: 24px;
	padding: 24px;
	gap: 8px;
	color: #0A3871;

}


.copiar{
	font-family: 'Mukta', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 19px;
	line-height: 100%;
	vertical-align: top;
	width: 328px;
	height: hug(67px);
	border-radius: 24px;
	padding: 24px;
	gap: 8px;
	color: #0A3871;

	display: none;


}

.botao-copiar{
	margin: 0px 0px 0px 25px;
	padding: 0px 0px 0px 25px;
	box-align: inside;
}

.rodape{
	padding: 15px 15px 15px 15px;
	font-style: italic;
	background: #0A3871;
	color: #FFFFFF;
}


.redes-sociais {
	font-size: 20px;
	margin-left: 20px;
}

.redes-sociais i{
	margin-left: 70px;
}


#linkedin{
	padding: 10px 10px 10px 550px;
	font-size: 30px;
	color: #FFFFFF;
}

#github{
	padding: 10px 10px 10px 10px;
	font-size: 30px;
	color: #FFFFFF;
}

#instagram{
	padding: 10px 10px 10px 10px;
	font-size: 30px;
	color: #FFFFFF;
}

